html, body {
  margin: 0;
  padding: 0;
  height: 100%; /* make sure the body takes the full height */
  display: flex; /* use flexbox to center the canvas */
  justify-content: center; /* center horizontally */
  align-items: center; /* center vertically */
  background: linear-gradient(90deg, rgb(0, 15, 128) 0%, rgb(50, 0, 130) 50%, rgba(148,0,211,1) 100%); /* purple gradient background */
  font-family: Arial, sans-serif; /* set a default font */
}

canvas {
  display: block;
  max-width: 100%; /* make sure the canvas isn't bigger than the screen */
  max-height: 100%;
  justify-content: center;
  align-items: center;
}

