html, body {
  margin: 0;
  padding: 0;
  height: 100%; /* make sure the body takes the full height */
  display: flex; /* use flexbox to center the canvas */
  justify-content: center; /* center horizontally */
  align-items: center; /* center vertically */
  background: linear-gradient(90deg, rgb(0, 15, 128) 0%, rgb(50, 0, 130) 50%, rgba(148,0,211,1) 100%); /* purple gradient background */
}

canvas {
  display: block;
  max-width: 100%; /* make sure the canvas isn't bigger than the screen */
  max-height: 100%;
  box-shadow: 
    0px 0px 5px rgba(255, 0, 255, 0.302), /* inner glow */
    0px 0px 20px rgba(255, 0, 255, 0.302), /* middle glow */
    0px 0px 40px rgba(255, 0, 255, 0.302), /* outer glow */
    0px 0px 80px rgba(255, 0, 255, 0.302); /* far outer glow */
}
